<div class="login-bg">
  <div class="login-container">
    <div class="login-header">
      <label class="login-title">CONDOSAFETY</label>
    </div>
    <div class="login-body">
      <div class="username">
        <md-icon class="material-icons">person</md-icon>
        <md-input-container class="md-block" flex-gt-sm>
          <input mdInput placeholder="Username" />
        </md-input-container>
      </div>
      <div class="password">
        <md-icon class="material-icons">lock</md-icon>
        <md-input-container class="md-block md-icon-left" flex-gt-sm>
          <input mdInput placeholder="Password" />
        </md-input-container>
      </div>
      <button class="login-btn"> Login </button>
      <label class="forgot-pass">Esqueceu sua senha?</label>
    </div>

  </div>
</div>