<div id="afk-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title modal-titulo glyphicon glyphicon-warning-sign"> ALERTA DE AUSÊNCIA!</span>
        <label>Ausência acima dos {{getTimer()}} minutos permitidos! Insira senha 
             <ng-container *ngIf="validateExceedingTime()">e justificativa</ng-container> para desbloqueio.</label>

      </div>
      <div class="modal-body">
        <div style="width: 100%; height: fit-content;">
        <mat-input-container class="mat-block" flex-gt-sm>
          <input type="password" [(ngModel)]="watch.user.password" matInput placeholder="Senha" />
        </mat-input-container>
        <ng-container *ngIf="validateExceedingTime()">
          <mat-input-container class="mat-block" flex-gt-sm>
            <input type="text" [(ngModel)]="watch.obs" matInput placeholder="Justificativa" />
          </mat-input-container>
        </ng-container>
        </div>
        <button class="btn-pattern" (click)="insertWatchControl()">Desbloquear!</button>
      </div>
    </div>
  </div>
</div>