@import "../../variables.less";

@data: ~".username, .password";
@accessLvl: ~".access-lvl";

@{data} {
  background-color: @base-color;
}

@{accessLvl} {
    background-color: lighten(@base-color, 20%);
}

.adm-page {
  height: 700px;
  width: 1000px;
  background-color: @base-color;
}