@import "../../variables.less";

@user-data: ~".username, .password, .access-lvl";
@containers: ~"#apartment-register, #vehicle-register, #user-register, #ot-register";
@lists: ~"#apt-list, #vehicle-list, #user-list";

@{user-data} {
  background-color: white;
}

@{containers} {
  margin: 10px;
  height: 310px;
  width: 710px;
  float: left;
  border: @base-border;
}

@{lists} {
  min-height: 240px;
  max-height: 240px;
  width: 200px;
  overflow-y: auto;
  margin: 10px;
  border: @base-border;
  background-color: white;
  float: left;
}

.cont-edit > div > div,
.cont-edit > div{
  margin: 4px 10px;
}

.adm-page {
  height: 700px;
  width: 1500px;
  padding: 20px;
  background-color: @base-color;
}

label {
  padding: 10px;
  font-size: 20px;
  width: 100%;
  float: left;
}

ul {
    padding: 0px;
}

li {
  border-bottom: 1px solid #c2c2c2;
  padding: 2px 20px;
}

li:hover {
  background-color: lighten(@base-color, 10%);
  cursor: pointer;
}

.cont-edit {
  height: 240px;
  width: 450px;
  margin: 10px;
  float: left;
}

.btns-user {
    margin-left: 60px !important;
    margin-top: 8px !important;
}

.btns-vehicle {
    margin-left: 50px !important;
    margin-top: 8px !important;
}

.btns-apartment {
    margin-left: 70px !important;
    margin-top: 14px !important;
}

button:disabled {
  opacity: 0.5;
}

input:disabled {
  background-color: darken(@base-color, 10%);
}

select:disabled {
  opacity: 0.5;
}

input {
  padding-left: 2px;
}

.active-bg {
  background-color: green;
}

.inactive-bg {
  background-color: red;
}

.active-c{
  color: green;
}

.inactive-c {
  color: red;
}

.btn-status {
    height: 18px;
    border-radius: 8px;
    border: 0px;
    width: 18px;
    position: relative;
    top: 3px;
    cursor: default;
    outline: none;
}

.floor {
  padding-left: 4px; 
  width: 150px; 
  float: left;
  position: relative;
  left: 10px;
}

.close {
  color: red;
  opacity: .4;
  float: left;
}