Nome:
<input class="input-pessoa nome" type="text" [(ngModel)]="pessoa.nome" />
Apelido:
<input class="input-pessoa apelido" type="text" [(ngModel)]="pessoa.apelido" />
Tipo:
<input class="input-pessoa tipo" type="text" [(ngModel)]="pessoa.tipo" />
Andar:
<input class="input-pessoa andar" type="text" [(ngModel)]="pessoa.apartamento.andar" />
Apto:
<input class="input-pessoa num-apto" type="text" [(ngModel)]="pessoa.apartamento.numApto" />

<button class="btn-save" class="btn-md" (click)="savePessoa()">Save </button>