<div id="person-type-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-sm">

    <!-- Modal content-->
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <button type="button" class="close" (click)="closeModal()">&times;</button>
        <span class="modal-title modal-titulo"><b>TIPOS</b> DE PESSOA</span>
      </div>
      <!-- Fim Modal Header -->
      <!-- Modal Body -->
      <div class="modal-body">
        <div class="r-40">
          <div class="coluna cont w-208 h-40" style="float: left;">
            <mat-input-container class="mat-block" flex-gt-sm>
              <input type="text" [(ngModel)]="type.type" matInput placeholder="Tipo de pessoa" />
            </mat-input-container>
          </div>
          <div class="coluna w-104 cont h-40" style="text-align: right !important; float:left; margin: 0px 14px;">
            <button class="btn-pattern" (click)="newPersonType()">+</button>
          </div>
        </div>

        <div class="body-container">
          <div id="person-type-list">
            <ul>
              <li *ngFor="let t of types; let i = index">
                {{t.type}} <button type="button" class="delete-type" (click)="deleteType(t)">&times;</button>
              </li>
            </ul>
          </div>
        </div>
        <!-- Fim Modal Body -->
      </div>
    </div>
  </div>
</div>