<div class="page-template">

    <div style="float: left;">

        <div style="padding-left: 4px;">
            Nome:
            <input [disabled]="disableFields" class="w-150" type="text" [(ngModel)]="person.name" />
        </div>
        <div>
            Apelido:
            <input [disabled]="disableFields" class="w-150" type="text" [(ngModel)]="person.nickname" />
        </div>
        <div>
            Senha de acesso:
            <input [disabled]="disableFields" class="w-150" type="password" [(ngModel)]="person.accessPassword" />
        </div>
        <div>
            Telefone:
            <input [disabled]="disableFields" class="w-150" type="text" [(ngModel)]="person.phoneNumber" />
        </div>
        <div>
            CPF:
            <input [disabled]="disableFields" class="w-150" type="text" [(ngModel)]="person.cpf" />
        </div>
        <div>
            Email:
            <input [disabled]="disableFields" class="w-150" type="email" [(ngModel)]="person.email" />
        </div>

        <div style="padding-left: 1px;">
            Status:
            <button [disabled]="disableFields" [class]="person.status === true ? 'btn-status active-bg' : person.status === false ? 'btn-status inactive-bg' : 'btn-status'"
                (click)="changePersonStatus()"></button>
        </div>

        <div style="float: left; position: relative; left: 10px;">
            Tipo de pessoa:
            <select [disabled]="disableFields" class="w-120" [(ngModel)]="person.personType">
                <option value="undefined" selected disabled>Selecione...</option>
                <option *ngFor="let t of types" [ngValue]="t"> {{t?.type}}</option>
                </select>
        </div>

        <div style="float: left; position: relative; left: 10px;">
            Apartamento:
            <select [disabled]="disableFields" class="w-120" [(ngModel)]="person.apartment">
                <option value="undefined" selected disabled>Selecione...</option>
                <option *ngFor="let ap of apartments" [ngValue]="ap"> 
                <ng-container *ngIf="ap.complex">{{ap.complex}} - </ng-container>
                    {{ap.number}}
                </option>
                </select>
        </div>

        <div class="btns-person">
            <button class="btn-new" class="btn-md" (click)="newPerson()">+</button>
            <button [disabled]="!person || !person._id" class="btn-delete" class="btn-md" (click)="deletePerson()">Excluir</button>
            <button [disabled]="!person" class="btn-save" class="btn-md" (click)="savePerson()">Salvar</button>
        </div>

        <button (click)="registerPersonType()">Open Person-type modal</button>
    </div>

    <div id="person-register">
        Pessoas:
        <div id="person-list" style="float: left;">
            <ul>
                <li *ngFor="let p of persons; let i = index" (click)="editPerson(p, i)">
                    <span [class]="p.status ? 'active-c' : 'inactive-c'">•</span> {{p.name}} - {{p.personType?.type}}
                </li>
            </ul>
        </div>
    </div>
</div>
<person-type-modal [types]="types" (getTypes)="getTypes($event)"> </person-type-modal>