<div class="page-template">

    <div style="float: left; width: 35%;">
        <div class="input-container" style="padding-left: 4px;">
            <mat-input-container id="person-name" class="mat-block" flex-gt-sm>
                <input type="text" [disabled]="disableFields" [(ngModel)]="person.name" matInput placeholder="Nome" />
            </mat-input-container>
        </div>
        <div class="input-container">
            <mat-input-container class="mat-block" flex-gt-sm>
                <input type="text" [disabled]="disableFields" maxlength="14" (ngModelChange)="person.cpf=$event" [ngModel]="person.cpf | cpf"
                    matInput placeholder="CPF" />
            </mat-input-container>
        </div>
        <div class="input-container">
            <mat-input-container class="mat-block" flex-gt-sm>
                <input type="text" [disabled]="disableFields" [(ngModel)]="person.nickname" matInput placeholder="Apelido" />
            </mat-input-container>
        </div>
        <div class="input-container">
            <mat-input-container class="mat-block" flex-gt-sm>
                <input type="text" [disabled]="disableFields" maxlength="15" (ngModelChange)="person.phoneNumber=$event" [ngModel]="person.phoneNumber | phone"
                    matInput placeholder="Telefone" />
            </mat-input-container>
        </div>
        <div class="input-container">
            <mat-input-container class="mat-block" flex-gt-sm>
                <input type="email" [disabled]="disableFields" [(ngModel)]="person.email" matInput placeholder="Email" />
            </mat-input-container>
        </div>
        <div class="input-container">
            <mat-input-container class="mat-block" flex-gt-sm>
                <input type="password" [disabled]="disableFields" [(ngModel)]="person.accessPassword" matInput placeholder="Senha de acesso"
                />
            </mat-input-container>
        </div>

        <div class="row-container">
            <div class="input-container">
                <mat-select [disabled]="disableFields" [(ngModel)]="person.personType" placeholder="Tipo de Pessoa">
                    <mat-option *ngFor="let t of types" [value]="t">{{t?.type}}</mat-option>
                </mat-select>
            </div>

            <div class="input-container">
                <mat-select [disabled]="disableFields" [(ngModel)]="person.apartment" placeholder="Apartamento">
                    <ng-container *ngFor="let ap of apartments">
                        <mat-option *ngIf="ap.status" [value]="ap">
                            <ng-container *ngIf="ap.complex">{{ap.complex}} - </ng-container>
                            {{ap.number}}
                        </mat-option>
                    </ng-container>
                </mat-select>
            </div>
        </div>

        <div class="row-container" style="margin-top: 10px;">
            <div style="width: 40%; float: left; margin: 8px;">
                Status:
                <button [disabled]="disableFields" [class]="person.status === true ? 'btn-status active-bg' : person.status === false ? 'btn-status inactive-bg' : 'btn-status'"
                    (click)="changePersonStatus()"></button>
            </div>

            <div [style.display]="!disableFields ? 'block' : 'none'" class="upload">
                <upload [upload]="personImageUpload" (uploadFinished)="uploadFinished($event)"> </upload>
            </div>
        </div>

        <div class="btns-person">
            <button class="btn-pattern" (click)="newPerson()">+</button>
            <button [disabled]="!person || !person._id" class="btn-delete btn-pattern" (click)="deletePerson()">Excluir</button>
            <button [disabled]="!person" class="btn-save" class="btn-pattern" (click)="savePerson()">Salvar</button>
        </div>

        <div id="open-modal-types" (click)="registerPersonType()"> <span class="glyphicon glyphicon-edit"></span>Tipos de Pessoa</div>
    </div>

    <div id="person-register">
        <label>Pessoas:</label>
        <div id="person-list">
            <ul>
                <li *ngFor="let p of persons; let i = index" (click)="editPerson(p, i)">
                    <span [class]="p.status ? 'active-c' : 'inactive-c'">•</span> {{p.name}} - {{p.personType?.type}}
                </li>
            </ul>
        </div>
        <div class="image-container" [style.border]="!person.picture ? '1px solid #000' : 'none'">
            <img *ngIf="person.picture" (click)="openImage()" class="person-image" [src]="person.picture" />
        </div>
    </div>
</div>

<person-type-modal [types]="types" (getTypes)="getTypes($event)"> </person-type-modal>