@import "../administration-page/administration.component.less";

.upload {
  padding-left: 30px;
}

.person-image {
    width: 150px;
    height: 150px;
    cursor: pointer;
    margin: 8px;
}

#person-register > label {
    float: left;
    padding: 0px 10px 0px 10px;
    margin: 0px;
}
