<div class="page-template">
    <div class="left-container">
        <div class="left-header">
            <label class="title">Condosafety</label>
        </div>
        <div class="left-body">
            <div class="front-camera-container" [style.z-index]="displayFrontCamera ? '3' : '-1'">
                <video [style.display]="displayFrontCamera ? 'inline-block' : 'none'" id="frontCamera" width="320" height="240" preload autoplay
                    loop muted class="video"></video>
                <div [style.display]="displayFrontCamera ? 'block' : 'none'" class="card-timer" [style.z-index]="displayFrontCamera ? '3' : '-1'">{{pictureTimer}}</div>
                <canvas [style.display]="displayFrontCamera ? '-webkit-box' : 'none'" id="canvas" width="320" height="240"></canvas>
                <div [style.display]="displayFrontCamera ? 'block' : 'none'" class="flash"></div>
            </div>
            <div class="person-img">
                <img *ngIf="selected && selected.picture && !displayFrontCamera" [src]="selected.picture" />
            </div>

            <div class="person-search">
                <input type="text" [(ngModel)]="filter" (keypress)="onEnterPress($event)" />
                <button (click)="filterData()">Buscar </button>
                <div class="person-search-list">
                    <ul>
                        <li *ngFor="let data of filterResult; let i = index" (click)="selectedItem(data, i)">
                            {{data.name || data.brand}} - {{data.cpf || data.document || data.plate}}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="cont-access-data">
                <mat-input-container id="input-name" class="mat-block" flex-gt-sm>
                    <input type="text" disabled [value]="selected?.brand || selected?.name" matInput [placeholder]="selected && selected.brand ? 'Marca' : 'Nome'"
                    />
                </mat-input-container>
                <mat-input-container id="input-complex" class="mat-block" flex-gt-sm>
                    <input type="text" [disabled]="!selected || !selected.document" [value]="selected?.apartment?.complex" (change)="selected.apartment.complex=$event.target.value"
                        matInput placeholder="Bloco" />
                </mat-input-container>
                <mat-input-container id="input-cpf" class="mat-block" flex-gt-sm>
                    <input type="text" disabled [value]="selected?.plate || selected?.cpf || selected?.document" matInput [placeholder]="selected && selected.plate ? 'Placa' : 'CPF'"
                    />
                </mat-input-container>
                <mat-input-container id="input-apt" class="mat-block" flex-gt-sm>
                    <input type="text" [disabled]="!selected || !selected.document" [value]="selected?.apartment?.number" (change)="selected.apartment.number=$event.target.value"
                        matInput placeholder="Apto" />
                </mat-input-container>
            </div>

            <button class="btn-visitor-register" (click)="openVisitorModal()"> Cadastrar Visitante </button>

            <div class="access-permission">
                <mat-input-container id="input-access-reason" class="mat-block" flex-gt-sm>
                    <input type="text" matInput placeholder="Motivo" [(ngModel)]="access.observation" />
                </mat-input-container>
                <mat-input-container id="input-access-pass" class="mat-block" flex-gt-sm>
                    <input type="password" matInput placeholder="Senha de liberação" [(ngModel)]="accessPassword" />
                </mat-input-container>

                <button [disabled]="!accessPassword" class="access-btn allow-access" id="allow-access-btn" (click)="setAccess(2)">Permitir acesso</button>
                <button [disabled]="!accessPassword" class="access-btn deny-access" id="deny-access-btn" (click)="setAccess(1)">Impedir acesso</button>
            </div>

        </div>

    </div>

    <div class="right-container">

        <div id="camera0" class="camera-container">
            <video #video0 width="346" height="260" autoplay class="video"></video>
            <mat-form-field floatPlaceholder="never">
                <mat-select [(ngModel)]="selectedVideos[0]" (change)="showCamera(0)" placeholder="Selecione uma câmera">
                    <mat-option *ngFor="let input of videoInputs" [value]="input">{{input.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div id="camera1" class="camera-container">
            <video #video1 width="346" height="260" autoplay class="video"></video>
            <mat-form-field floatPlaceholder="never">
                <mat-select [(ngModel)]="selectedVideos[1]" (change)="showCamera(1)" placeholder="Selecione uma câmera">
                    <mat-option *ngFor="let input of videoInputs" [value]="input">{{input.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div id="camera2" class="camera-container">
            <video #video2 width="346" height="260" autoplay class="video"></video>
            <mat-form-field floatPlaceholder="never">
                <mat-select [(ngModel)]="selectedVideos[2]" (change)="showCamera(2)" placeholder="Selecione uma câmera">
                    <mat-option *ngFor="let input of videoInputs" [value]="input">{{input.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div id="camera3" class="camera-container">
            <video #video3 width="346" height="260" autoplay class="video"></video>
            <mat-form-field floatPlaceholder="never">
                <mat-select [(ngModel)]="selectedVideos[3]" (change)="showCamera(3)" placeholder="Selecione uma câmera">
                    <mat-option *ngFor="let input of videoInputs" [value]="input">{{input.name}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div *ngIf="displayComparison" class="comparison-container">
        <img *ngIf="selected && selected.picture" id="imageOne" width="320" height="240" [src]="selected.picture" />
        <img *ngIf="photob64" id="imageTwo" width="320" height="240" [src]="photob64" />
        <div [style.display]="displayMatchPercentage ? 'block' : 'none'" class="match-percentage">{{matchPercentage | number}} %</div>
        <div [style.display]="displayForceButton ? 'block' : 'none'" class="btn-force-access allow-access" (click)="forceAccess(2)">✓</div>
        <div [style.display]="displayForceButton ? 'block' : 'none'" class="btn-force-access deny-access" (click)="forceAccess(1)">✗</div>

    </div>
</div>

<visitor-modal> </visitor-modal>