<div class="page-template">
    <div class="left-container">
        <div class="left-header">
            <label class="title">Condosafety</label>
        </div>
        <div class="left-body">

            <div class="person-img">
                <img *ngIf="selected && selected.picture" [src]="selected.picture" />
                <!-- <video id="frontCamera" width="160" height="200" autoplay class="video"></video>
                <canvas id="canvas" width="160" height="200"></canvas> -->
            </div>
            <button (click)="takePicture()" id="snap">Take photo</button>

            <div class="person-search">
                <input type="text" [(ngModel)]="filter" (keypress)="onEnterPress($event)"/>
                <button (click)="filterData()">Buscar </button>
                <div class="person-search-list">
                    <ul>
                        <li *ngFor="let data of filterResult; let i = index" (click)="selectedItem(data, i)">
                            {{data.name || data.brand}} - {{data.cpf || data.document || data.plate}}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="cont-access-data">
                <md-input-container id="input-name" class="md-block" flex-gt-sm>
                    <input type="text" disabled [value]="selected?.brand || selected?.name" mdInput [placeholder]="selected && selected.brand ? 'Marca' : 'Nome'"
                    />
                </md-input-container>
                <md-input-container id="input-complex" class="md-block" flex-gt-sm>
                    <input type="text" disabled [value]="selected?.apartment?.complex" mdInput placeholder="Bloco" />
                </md-input-container>
                <md-input-container id="input-cpf" class="md-block" flex-gt-sm>
                    <input type="text" disabled [value]="selected?.plate || selected?.cpf || selected?.document" mdInput [placeholder]="selected && selected.plate ? 'Placa' : 'CPF'"
                    />
                </md-input-container>
                <md-input-container id="input-apt" class="md-block" flex-gt-sm>
                    <input type="text" disabled [value]="selected?.apartment?.number" mdInput placeholder="Apto" />
                </md-input-container>
            </div>

            <button class="btn-visitor-register" (click)="openVisitorModal()"> Cadastrar Visitante </button>

            <div class="access-permission">
                <md-input-container id="input-access-pass" class="md-block" flex-gt-sm>
                    <input type="password" mdInput placeholder="Senha de liberação" [(ngModel)]="accessPassword" />
                </md-input-container>

                <button [disabled]="!accessPassword" class="access-btn" id="allow-access-btn" (click)="allowAccess()">Permitir acesso</button>
                <button [disabled]="!accessPassword" class="access-btn" id="deny-access-btn" (click)="denyAccess()">Impedir acesso</button>
            </div>

        </div>

    </div>

    <div class="right-container">

        <div id="camera0" class="camera-container">
            <video #video0 width="346" height="260" autoplay class="video"></video>
            <md-select [(ngModel)]="selectedVideos[0]" (change)="showCamera(0)" placeholder="Selecione uma câmera" floatPlaceholder="never">
                <md-option *ngFor="let input of videoInputs" [value]="input">{{input.name}}</md-option>
            </md-select>
        </div>

        <div id="camera1" class="camera-container">
            <video #video1 width="346" height="260" autoplay class="video"></video>
            <md-select [(ngModel)]="selectedVideos[1]" (change)="showCamera(1)" placeholder="Selecione uma câmera" floatPlaceholder="never">
                <md-option *ngFor="let input of videoInputs" [value]="input">{{input.name}}</md-option>
            </md-select>
        </div>

        <div id="camera2" class="camera-container">
            <video #video2 width="346" height="260" autoplay class="video"></video>
            <md-select [(ngModel)]="selectedVideos[2]" (change)="showCamera(2)" placeholder="Selecione uma câmera" floatPlaceholder="never">
                <md-option *ngFor="let input of videoInputs" [value]="input">{{input.name}}</md-option>
            </md-select>
        </div>

        <div id="camera3" class="camera-container">
            <video #video3 width="346" height="260" autoplay class="video"></video>
            <md-select [(ngModel)]="selectedVideos[3]" (change)="showCamera(3)" placeholder="Selecione uma câmera" floatPlaceholder="never">
                <md-option *ngFor="let input of videoInputs" [value]="input">{{input.name}}</md-option>
            </md-select>
        </div>
    </div>
</div>
<visitor-modal> </visitor-modal>