<div class="login-bg" (keypress)="onEnterPress($event)">
  <div class="login-container">
    <div class="login-header">
      <label class="login-title">CONDOSAFETY</label>
    </div>
    <div class="login-body">
      <div class="username">
        <!-- <md-icon class="material-icons">person</md-icon> -->
        <span class="glyphicon glyphicon-user"></span>
        <md-input-container class="md-block" flex-gt-sm>
          <input type="text" [(ngModel)]="user.username" mdInput placeholder="Username" />
        </md-input-container>
      </div>
      <label class="error" *ngIf="alertUsername">* Informe um nome de usuário!</label>
      <div class="password">
        <!-- <md-icon class="material-icons">lock</md-icon> -->
        <span class="glyphicon glyphicon-lock"></span>
        <md-input-container class="md-block md-icon-left" flex-gt-sm>
          <input type="password" [(ngModel)]="user.password" mdInput placeholder="Password" />
        </md-input-container>
      </div>
      <label class="error" *ngIf="alertPassword">* Informe uma senha!</label>
      <button (click)="login()" class="login-btn"> Login </button>
      <label class="forgot-pass">Esqueceu sua senha?</label>
    </div>

  </div>
</div>