@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* material adjustments */

.mat-select:focus:not(.mat-select-disabled) .mat-select-trigger {
    color: darkblue !important;
}

.mat-select-placeholder {
    color: rgba(0,0,0,.38);
}

.mat-option {
    font-size: 14px;
    height: 44px;
}

.mat-select-trigger, .mat-input-element:disabled {
    color: black;
}

/* toastr */
.toastr-position {
    top: 5%;
    left: 33%;
}

#toast-container {
    opacity: 2;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80);
}

/* fixed sizes */
.w-50 {
    width: 50px;
}

.w-60 {
    width: 60px;
}

.w-70 {
    width: 70px;
}

.w-80 {
    width: 80px;
}

.w-90 {
    width: 90px;
}

.w-100 {
    width: 100px;
}
.w-114 {
    width: 114px;
}
.w-120 {
    width: 120px;
}
.w-140 {
    width: 140px;
}
.w-150 {
    width: 150px;
}
.w-160 {
    width: 160px;
}

.row-container {
    width: 100%; 
    float: left;
}
