<div id="visitor-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="closeModal()">&times;</button>
                <span class="modal-title modal-titulo"><b>VISITANTES</b></span>
            </div>
            <div class="modal-body">
                <div class="body-container">
                    <div style="padding-left: 82px;">
                        Nome:
                        <input [disabled]="disableFields" class="w-150" type="text" [(ngModel)]="visitor.name" />
                    </div>
                    <div style="padding-left: 48px;">
                        Documento:
                        <input [disabled]="disableFields" class="w-150" type="text" [(ngModel)]="visitor.document" />
                    </div>
                    <div>
                        Tipo de documento:
                        <select [disabled]="disableFields" class="w-150" [(ngModel)]="visitor.documentType">
                         <option value="undefined" selected disabled>Selecione...</option>
                        <option value="1">CPF</option>
                        <option value="2">RG</option>
                        <option value="3">PASSAPORTE</option>
                </select>
                    </div>
                    <div style="padding-left: 36px; height: 80px;">
                        <div style="float: left;">Observações: </div>
                        <textarea [disabled]="disableFields" spellcheck='false' class="w-150" type="text" [(ngModel)]="visitor.obs"> </textarea>
                    </div>

                    <div [style.display]="!disableFields ? 'block' : 'none'" class="upload">
                        <upload [upload]="visitorImageUpload" (uploadFinished)="uploadFinished($event)"> </upload>
                        <div (click)="takePicture()" class="glyphicon glyphicon-camera"> </div>
                    </div>

                    <div class="btns-visitor">
                        <button class="btn-new" class="btn-md" (click)="newVisitor()">+</button>
                        <button [disabled]="!visitor" class="btn-save" class="btn-md" (click)="saveVisitor()">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
